$even: rgb(194, 208, 243, 0.5);
$odd: rgb(142, 163, 207, 0.5);
$link: rgb(19, 131, 206);

/* ################################ ERROR MSG COLORS ################################ */

.invalid-creds-text {
    color: firebrick;
}

.invalid-creds-btn {
    background-color: firebrick;
}

.valid-creds-text {
    color: green;
}

/* ################################ DASHBOARD MENU ################################ */

.dashboard-menu-area {
    position: absolute;
    z-index: 1000;
}

.menu-toggle {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: $base;
    cursor: pointer;
    z-index: 10000;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #FFF;
    transition-duration: .25s;
}

.hamburger>span::before {
    content: '';
    top: -8px;
}

.hamburger>span::after {
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger>span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
    top: 0;
    transform: rotate(90deg);
}

.dashboard-sidebar {
    z-index: 1;
    flex: 1 1 0;
    width: 300px;
    padding: 1.5rem 1rem;
    background-color: $base;
    min-height: calc(100dvh - $nav-height);
}

.user-data-container {
    position: relative;
}

.account-icon {
    color: #707793;
    font-size: 2.5rem;
}

.user-name {
    color: #707793;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 15px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dashboard-sidebar .menu {
    margin: 0 -1rem;
}

.dashboard-sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s;
}

.dashboard-sidebar .menu .menu-item:hover,
.dashboard-sidebar .menu .menu-item.is-active {
    color: skyblue;
    font-weight: bold;
    border-right: 5px solid skyblue;
    background-color: $highlight;
}

/* ################################ LOGOUT AREA ################################ */

.logout-btn {
    color: white;
}

.logout-btn:hover {
    color: skyblue;
}

.logout-btn span {
    margin-right: 10px;
    vertical-align: middle;
    display: inline;
}

.logout-text {
    display: inline;
    font-size: 1.3rem;
    vertical-align: middle;
}

.logout-area {
    position: absolute;
    bottom: 10px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
}

/* ################################ DASHBOARD MAINPAGE ################################ */

.background-logo {
    position: absolute;
    z-index: -1;
    opacity: .3;
    top: 50%;
    left: calc(50% + 150px);
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    object-fit: contain;
}

/* ################################ REGISTER INTERFACE ################################ */

.register-area {
    margin-top: 70px;
    margin-left: 300px;
}

.show-password-icon {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
    user-select: none;
}

/* ################################ USER EDITOR ################################ */

.user-table {
    width: calc(100% - 300px);
    margin-left: 300px;
    margin-bottom: 80px;
}

.user-table-container {
    height: calc(100dvh - $nav-height);
    overflow-y: auto;
    overflow-x: hidden;
}

.user-table-head {
    z-index: 1;
}

.user-table-head th {
    background-color: $secondary-base;
    color: white;
    border: none;
}

.user-table-row:nth-child(even) td {
    background-color: $even;
    border: none;
}

.user-table-row:nth-child(odd) td {
    background-color: $odd;
    border: none;
}

.sort-icon {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: 5px;
    top: 5px;
}

/* ################################ UPDATE LOGS ################################ */

.logs-table {
    width: calc(100% - 300px);
    margin-left: 300px;
    margin-bottom: 80px;
}

.logs-table-container {
    height: calc(100dvh - $nav-height);
    overflow-y: auto;
    overflow-x: hidden;
}

.log-table-head {
    background-color: $secondary-base;
    color: white;
    border: none;
    z-index: 0;
}

.log-table-row:nth-child(even) td {
    background-color: $even;
    border: none;
}

.log-table-row:nth-child(odd) td {
    background-color: $odd;
    border: none;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    background: white;
    height: 60px;
    z-index: 0;
}

.sticky-top {
    top: 0;
    position: sticky;
}

.disabled-delete-icon {
    opacity: 0.4;
    cursor: default;
}

.delete-icon {
    cursor: pointer;
    user-select: none;
    padding-top: 0.3rem;
}

.delete-checkbox input[type="checkbox"] {
    cursor: pointer;
}

/* ################################ HIDDEN WASTES ################################ */

.open-in-new-icon {
    user-select: none;
    color: $link;
    cursor: pointer;
}

.open-in-new-icon:hover {
    color: $link-hover;
}

#hidden-wastes {
    margin: 0 0 0 300px;
    padding-bottom: 40px;
    max-height: calc(100dvh - $nav-height);
    overflow-y: auto;
}

.disabled-hide-btn {
    opacity: 0.4;
    cursor: default;
}

/* ################################ PAGINATION ################################ */

.pagination {
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    margin-left: 450px;
    margin-right: 150px;
    display: flex;
    position: fixed;
    user-select: none;
    justify-content: center;
}

/* ################################ LOADING ICON ################################ */

@keyframes loading-icon-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-icon {
    user-select: none;
    transform-origin: center;
    animation: loading-icon-spinner 2s linear infinite;
}

/* ################################ RESPONSIBILITY ################################ */

@media (max-width: 1024px) {
    .dashboard-sidebar {
        max-width: 220px;
    }

    .background-logo {
        left: calc(50% + 100px);
    }

    .user-table {
        margin-left: 220px;
        width: calc(100% - 200px);
    }

    .register-area,
    #hidden-wastes {
        margin-left: 200px;
    }

    .pagination {
        margin-left: 300px;
        margin-right: 100px;
    }

    .logs-table {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .user-table {
        margin-left: 0px;
        margin-bottom: 80px;
        width: 100%;
    }

    .logs-table {
        margin-left: 0px;
        width: 100%;
    }

    .background-logo {
        left: 50%;
    }

    .register-area {
        margin: 0px;
    }

    #hidden-wastes {
        margin-left: 0px;
    }

    .pagination {
        margin-left: 50px;
        margin-right: 50px;
    }

    .dashboard-sidebar {
        position: fixed;
        left: -300px;
        height: calc(100dvh - 70px);
        width: 100%;
        transition: 0.2s linear;
    }

    .dashboard-sidebar.is-active {
        left: 0;
    }
}