$cluster-color: #4DB7FE;

/* ################################ CLUSTER COLORS ################################ */

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: white;

    div {
        background-color: $cluster-color;
    }
}

.marker-cluster {
	background-color: rgba(0, 0, 0, 0);
}

/* ################################ CLUSTER SIZES ################################ */

.marker-cluster div span {
	font-weight: bold;
	font-size: 0.8rem;
}

.marker-cluster div {
	width: 40px;
	height: 40px;
	margin-left: 4px;
	margin-top: 4px;

	text-align: center;
	border-radius: 25px;
	color: white;
	border: 2px solid white;
	outline: solid rgba(0, 0, 0, 0.1) 4px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
	line-height: 37px;
}

/* ################################ CLUSTER TRANSITIONS ################################ */


.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}